@charset "UTF-8";
/* Utils.(Variables.Fonctions.Mixins.Placeholders)
Feuilles de style de tiers (vendors) (si vous en avez).
Base.
Composants.
Layout.
Pages.
Thèmes.*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/* fonts */
/*colors*/
/* dark green text: #008766*/
/* iconos grises: #7e7e7e */
/* functions */
/* Return pastel color from a given HEX value color*/
/* mixins */
/*keyframes*/
@-webkit-keyframes introfade {
  0% {
    opacity: 0;
    -webkit-transition: translateY(2em);
    transition: translateY(2em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes introfade {
  0% {
    opacity: 0;
    -webkit-transition: translateY(2em);
    transition: translateY(2em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotateSpinner1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
    opacity: 0;
  }
}

@keyframes rotateSpinner1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
    opacity: 0;
  }
}

@-webkit-keyframes rotateSpinner2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
    opacity: 0;
  }
}

@keyframes rotateSpinner2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(6turn);
            transform: rotate(6turn);
    opacity: 0;
  }
}

@-webkit-keyframes noScroll {
  0%, 99% {
    height: 100%;
    overflow: hidden;
  }
  100% {
    height: auto;
    overflow: auto;
  }
}

@keyframes noScroll {
  0%, 99% {
    height: 100%;
    overflow: hidden;
  }
  100% {
    height: auto;
    overflow: auto;
  }
}

@-webkit-keyframes fullScreen {
  0%, 80% {
    min-height: 100vh;
  }
  100% {
    min-height: 0vh;
  }
}

@keyframes fullScreen {
  0%, 80% {
    min-height: 100vh;
  }
  100% {
    min-height: 0vh;
  }
}

/* Make a function to add 3 or 4 loops according to the page - animation introfade */
/* Add sizes and srcset attributes on images in html" */
/* Add the differents @media */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
}

body.animated {
  -webkit-animation: noScroll 4s ease-in-out;
          animation: noScroll 4s ease-in-out;
}

img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

li {
  list-style: none;
}

/* button gradient and lighten hover */
.active-button {
  padding: 1em;
  border-radius: 2em;
  background: linear-gradient(350deg, #9356DC, #FF79DA 90%);
  color: white;
  border: none;
  margin: 1em;
  -webkit-box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.active-button:hover {
  /*background: linear-gradient(350deg, lighten($primary-color, 3%), lighten($secondary-color, 3%) 90%);*/
  -webkit-box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

/* icon fill gradient */
label.like-fill-icon {
  padding: 0.5em;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

label.like-fill-icon:hover i {
  color: #FF79DA;
}

label.like-fill-icon i {
  font-weight: 400;
  color: #7e7e7e;
  position: relative;
}

label.like-fill-icon > i::after {
  content: "\f004";
  position: absolute;
  right: 0;
  top: 0px;
  background-image: linear-gradient(330deg, #9356DC, #FF79DA 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  font-weight: 900;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

input.like-fill-icon:checked + label.like-fill-icon > i {
  color: #FF79DA;
}

input.like-fill-icon:checked + label.like-fill-icon > i::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*   General Container Layout */
.container {
  background: #f6f6f6;
}

/* Header */
header {
  padding: 1em;
  z-index: 2;
  /* to show de box shadow over the geolocalization div*/
  position: relative;
  /* To show de z-index position*/
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 180px;
}

header.spinner {
  -webkit-animation: fullScreen 4s ease-out;
          animation: fullScreen 4s ease-out;
}

header.spinner .logo div {
  position: relative;
}

header.spinner .logo div::before {
  content: "";
  position: absolute;
  top: -300%;
  bottom: -300%;
  left: -20%;
  right: -20%;
  border: 7px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: rotateSpinner1 3500ms linear;
          animation: rotateSpinner1 3500ms linear;
}

header.spinner .logo div::after {
  content: "";
  position: absolute;
  top: -270%;
  bottom: -270%;
  left: -14%;
  right: -14%;
  border: 7px solid transparent;
  border-top-color: #FF79DA;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: rotateSpinner2 3500ms linear;
          animation: rotateSpinner2 3500ms linear;
}

/* footer */
footer {
  padding: 2em;
  background: #353535;
  text-align: left;
}

footer a:hover {
  color: #99E2D0;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 1em;
  width: auto;
}

footer nav {
  color: white;
}

footer nav ul {
  padding: 0;
}

footer nav a {
  color: white;
  line-height: 1.8em;
}

footer nav i {
  margin-right: 0.5em;
  width: 1em;
}

.presentation-card {
  text-align: center;
  padding: 2em;
  background: #f6f6f6;
}

.presentation-card h1 {
  margin: 1em 1em 0em 1em;
  font-weight: 900;
}

.presentation-card p {
  color: #575757;
}

.thumbnail img {
  max-height: 265px;
}

.menu {
  padding: 1em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  background: #f6f6f6;
  position: relative;
  top: -3em;
}

.menu .active-button {
  margin: 0 auto;
  display: block;
  padding: 1em 3em;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}

.menu__title h1 {
  font-family: "Shrikhand";
}

.menu__title label {
  margin: auto 1.5em;
  font-size: 1.5em;
}

.menu__body-section {
  margin-bottom: 3em;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
  opacity: 0;
}

.menu__body-section ul {
  padding: 0;
}

.menu__body-section h2 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 1em auto;
  position: relative;
}

.menu__body-section h2::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #99E2D0;
  padding-right: 2.5em;
  top: 1.4em;
  left: 0;
}

.menu__body-section:nth-child(1) {
  -webkit-animation: introfade 700ms ease-out forwards;
          animation: introfade 700ms ease-out forwards;
}

.menu-item:nth-child(1) {
  -webkit-animation: introfade 700ms ease-out forwards;
          animation: introfade 700ms ease-out forwards;
}

.menu__body-section:nth-child(2) {
  -webkit-animation: introfade 1000ms ease-out forwards;
          animation: introfade 1000ms ease-out forwards;
}

.menu-item:nth-child(2) {
  -webkit-animation: introfade 1000ms ease-out forwards;
          animation: introfade 1000ms ease-out forwards;
}

.menu__body-section:nth-child(3) {
  -webkit-animation: introfade 1300ms ease-out forwards;
          animation: introfade 1300ms ease-out forwards;
}

.menu-item:nth-child(3) {
  -webkit-animation: introfade 1300ms ease-out forwards;
          animation: introfade 1300ms ease-out forwards;
}

.menu__body-section:nth-child(4) {
  -webkit-animation: introfade 1600ms ease-out forwards;
          animation: introfade 1600ms ease-out forwards;
}

.menu-item:nth-child(4) {
  -webkit-animation: introfade 1600ms ease-out forwards;
          animation: introfade 1600ms ease-out forwards;
}

.geo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  background: #EAEAEA;
}

.geo-form input {
  padding: 1em;
  border: none;
  background: none;
  font-weight: bold;
  color: #575757;
  border: 2px solid transparent;
}

.geo-form input:focus-visible, .geo-form input:focus {
  border-bottom: 2px solid #99E2D0;
  outline: none;
}

.guide-card {
  padding: 1em;
  margin: 1em auto;
}

.guide-card ul {
  padding-left: 0;
  margin: 2em auto;
}

.guide-card__instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5em auto;
}

.guide-card__instruction > span {
  padding: 4px 8px;
  background: #9356DC;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: small;
  color: white;
  margin-right: -10px;
  z-index: 2;
}

.guide-card__instruction div {
  padding: 1em;
  border-radius: 1.5em;
  background: #f6f6f6;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 3px 9px 0px rgba(126, 126, 126, 0.3);
  width: 95%;
  font-weight: bold;
}

.guide-card__instruction div > * {
  padding: 0.5em;
}

.guide-card__instruction div i {
  color: #7e7e7e;
}

.guide-card__instruction:hover div {
  background-color: #f4ebff;
}

.guide-card__instruction:hover div i {
  color: #9356DC;
}

.restaurant-list {
  background-color: #f6f6f6;
  padding: 2em 1em 3em 1em;
}

.restaurant-card {
  background: #fff;
  border-radius: 1em;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 3px 9px 0px rgba(126, 126, 126, 0.3);
  margin: 1em auto;
}

.restaurant-card--new .restaurant-card__image::after {
  content: "Nouveau";
  background: #99E2D0;
  border-radius: 0.2em;
  padding: 0.5em;
  top: 1em;
  right: 1em;
  position: absolute;
  color: #008766;
  font-weight: bold;
  font-size: small;
}

.restaurant-card__image {
  position: relative;
}

.restaurant-card__image img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-card__description {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-card__description i {
  font-size: 1.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.restaurant-card__description h3 {
  margin: 0;
  font-size: 1.2em;
}

.restaurant-card__description p {
  margin: 0.25em auto;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin: 1em auto;
  background: white;
  margin-top: 1.5em;
  -webkit-transform: translateY(4em);
          transform: translateY(4em);
}

.menu-item__titre {
  padding: 0.7em 0 0.7em 1em;
  width: 50%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  line-height: 1.5;
}

.menu-item__titre p, .menu-item__titre h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.menu-item__button p {
  padding: 0 1em;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: bold;
}

.menu-item__button div {
  background-color: #99E2D0;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  max-width: 0px;
  -webkit-transition: max-width 400ms ease-in-out;
  transition: max-width 400ms ease-in-out;
}

.menu-item__button div i {
  padding: 0 1em;
}

.menu-item:hover .menu-item__button i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.menu-item:hover .menu-item__button div {
  max-width: 150px;
}
/*# sourceMappingURL=style.css.map */