.geo-form {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background: $background-dark;

        input {
            padding: 1em;
            border: none;
            background: none;
            font-weight: bold;
            color: $font-secondary;
        }
}