/* button gradient and lighten hover */
.active-button {
    padding: 1em;
    border-radius: 2em;
    background: linear-gradient(350deg, $primary-color, $secondary-color 90%);
    color: white;
    border: none;
    margin: 1em;
    @include box--shadow("light");
    transition: all 300ms ease-in-out;


        &:hover {
            /*background: linear-gradient(350deg, lighten($primary-color, 3%), lighten($secondary-color, 3%) 90%);*/
            @include box--shadow("dark");
            filter: brightness(1.1);    
        }
}


/* icon fill gradient */
label.like-fill-icon {
    padding: 0.5em;
    display: inline-block;
    align-self: center;
    &:hover i {
        color: $secondary-color;
    }
    i{
        font-weight: 400;
        color:rgb(126, 126, 126);
        position: relative;    
    }
    & > i::after {
        content:"\f004";
        position: absolute;
        right: 0;
        top: 0px;
        background-image: linear-gradient(330deg, $primary-color, $secondary-color 75%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        text-fill-color: transparent;
        font-weight: 900;
        transform: scale(0);
        transform-origin: bottom;
        transition: transform 300ms ease-in;
    }
}

input.like-fill-icon:checked + label.like-fill-icon {
    & > i {
    color: $secondary-color;
    }
    & > i::after{
    transform: scale(1);
    }
}
