* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: $font-size;
    font-family: $font-text;
}

img {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}
a:active {
    color: inherit;
}

li {list-style: none;}

header {
    padding: 1em;
    z-index: 2; /* to show de box shadow over the geolocalization div*/
    position: relative; /* To show de z-index position*/
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);

        .logo {
            width: 50%;
            margin: 0 auto;
        }
}

footer {
    padding: 2em;
    background: $background-black;
    text-align: left;

        img {
            filter: invert(1);
            height: 1em;
            width: auto;
        }

        nav {
            color: white;

            ul { padding: 0; }
            a {
                color: white;
                line-height: 1.8em;
            }
            i {
                margin-right: 0.5em;
                width: 1em;
            }
        }
}