


/* fonts */
$font-title: "Shrikhand";
$font-text: "Roboto";
$font-size: 16px;
$font-primary: black;
$font-secondary: #575757;

/*colors*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
/* dark green text: #008766*/
/* iconos grises: #7e7e7e */
$background-light: #f6f6f6;
$background-dark: #EAEAEA;
$background-black: #353535;

/* Breakpoints */
$breakpoints: (
  small : 480px,
  medium: 768px,
  large : 1024px
);

